.container-fluid {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.section-container {
  height: 100%;
  width: 100%;
  background-color: #191919;
  padding: 10px;
}
.inner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
  background-color: #212121;
  padding: 0px 10px 10px 10px;
}
.hide-scroll-container-left {
  height: calc(100% - 50px);
  width: 100%;
  overflow: hidden;
  position: relative;
}
.hide-scroll-container-right {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.full-height {
  height: 100%;
  /*padding-top: 80px;*/
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-md-5,
.col-md-7 {
  padding-right: 0;
  padding-left: 0;
}
.left-section-padding {
  padding-right: 5px;
}
.right-section-padding {
  padding-left: 5px;
}

.red-text {
  color: #e67e22;
}
.green-text {
  color: #2ecc71;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
