#root,
html,
body,
.App {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

.btn-default {
  margin-right: 15px;
  float: right;
  color: white;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #191919;
  color: white;
}