/*
* Tab styles
*/

#uncontrolled-tab-example {
  width: 100%;
  height: calc(100% - 60px);
}
.tab-content,
.tab-pane {
  width: 100%;
  height: 100%;
}
#uncontrolled-tab-example > .nav {
  background-color: #212121;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  /*color: #b2b2b2;*/
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.nav-tabs {
  border-bottom: transparent;
  /*border-bottom: 1px solid white;*/
  padding: 10px 10px 10px 20px;
}
.nav-tabs>li>a:hover {
  background-color: #191919;
}
.nav-tabs>li>a {
  color: white;
  border: 1px solid white;
  border-radius: 0;
}

/*
* Summary tab
*/

.section-heading {
  margin: 10px 15px 15px 20px;
}
.leftPull {
  text-align: left;
}
.rightPull {
  text-align: right;
}

/*
* News tab
*/

.news-date {
  color: grey;
  font-style: italic;
}
a.news-url {
  color: #3498db;
}
.news-well {
  padding-bottom: 20px;
}

/*
* Options tab
*/

.right-dropdown {
  float: right;
}
.in-the-money {
  background-color: #25a35a;
}
.in-the-money-div {
  background-color: #25a35a;
  text-align: center;
  padding: 8px;
  width: 120px;
  float: right;
}
.options-drop-down {
  float: right;
}
.options-header {
  margin: 20px 15px 30px 20px;
}

/*
* Stats tab
*/

.table-bold,
.blue-header {
  color: #3498db;
}
